append variables
  -
    var testimonials= [
      {
        
        image:'testimonial-1.png',
        name: 'Safira Petterson',
        designation : 'Director, Plugbase',
        text: `It would be only imprudent if you dont grab this app now and use it at its best, with all the great facilities it got.”`,
      },
      {
        image:'testimonial-2.png',
        name: 'Nazip Terasi',
        designation : 'CEO, FrankPhoto',
        text: 'Myriad options and brillant outlook: what more I can ask for? I trust this app for it well furnished features and reliable modeling. The best of all is it got the option of scalability which opens up a big window of opportunity. It is the tool of future.”',
      },
      {
        image:'testimonial-3.png',
        name: 'Manion Potter',
        designation :'Senior Engineer, ArtsyCode',
        text:'From the production to deployment, this one is an absolute marvel to be work with. Give it your shot so that you don’t regret ”',
      },
      {
        image:'testimonial-4.png',
        name: 'Frankistain Belio',
        designation :'CTO, NerdBean',
        text:'The app totally surprised me with its well planned designs and fine structured build-up. For a brilliant team-work, this one is a perfect choice. ”',
      },
    
    ];

mixin Testimonial(config) 
  .d-flex.flex-column.flex-sm-row.align-items-start
    img.me-sm-3.my-2.my-sm-0.align-self-center.align-self-sm-start(src=`${CWD}assets/img/gallery/${config.image}` width="100" alt='services')
    img.me-sm-3.my-2.my-sm-0.align-self-center.align-self-sm-start(src=`${CWD}assets/img/icons/quot.svg`  alt='...')
    .flex-1.text-center.text-sm-start
      p.fs-1.text-1200!=config.text 
      h6.mb-1.fw-bold.fs-0=config.name 
      h6.fs-0=config.designation

mixin Testimonials
  +Section 
    .row 
      .col-lg-6.mb-6
        +Testimonial(testimonials[0]) 
      .col-lg-6.mb-6  
        +Testimonial(testimonials[1]) 
      .col-lg-6.mb-6
        +Testimonial(testimonials[2]) 
      .col-lg-6.mb-6  
        +Testimonial(testimonials[3])
